{
    "openapi": "3.0.0",
    "info": {
        "title": "Ingress",
        "description": "Payload Ingress Service",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://cloud.redhat.com/api/ingress/v1",
            "description": "Production"
        }
    ],
    "paths": {
        "/upload": {
            "post": {
                "summary": "Accepts a payload",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "file": {
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "metadata": {
                                        "type": "object",
                                        "additionalProperties": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Advisor content type with no metadata accepted for processing",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UploadResponse"
                                }
                            }
                        }
                    },
                    "202": {
                        "description": "Payload was accepted for processing.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UploadResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication missing from request"
                    },
                    "413": {
                        "description": "Payload too large"
                    },
                    "415": {
                        "description": "Content type of payload is unsupported."
                    }
                }
            }
        },
        "/version": {
            "get": {
                "summary": "Returns version information",
                "responses": {
                    "200": {
                        "description": "Version information"
                    },
                    "401": {
                        "description": "Authentication missing from request"
                    }
                }
            }
        },
        "/track/{request_id}": {
            "get": {
                "summary": "Find status of a specific request",
                "parameters": [
                    {
                        "name": "request_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "verbosity",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 0,
                            "minimum": 0,
                            "maximum": 2
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Payload responses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TrackResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Authentication failure for specific request_id"
                    },
                    "404": {
                        "description": "Request_id not found"
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "UploadResponse": {
                "type": "object",
                "properties": {
                    "request_id": {
                        "type": "string"
                    },
                    "upload": {
                        "type": "object",
                        "properties": {
                            "account": {
                                "type": "string"
                            },
                            "org_id": {
                                "type": "string",
                                "description": "Oracle account number which is a unique identifier for a customer account"
                            }
                        }
                    }
                }
            },
            "TrackResponse": {
                "type": "object",
                "properties": {
                    "status_msg": {
                        "type": "string"
                    },
                    "date": {
                        "type": "string"
                    },
                    "inventory_id": {
                        "type": "string"
                    },
                    "service": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string"
                    }
                }
            }
        }
    }
}
