---
apiVersion: v1
kind: Template
metadata:
  name: ingress
objects:
- apiVersion: cloud.redhat.com/v1alpha1
  kind: ClowdApp
  metadata:
    name: ingress
  spec:
    envName: ${ENV_NAME}
    testing:
      iqePlugin: ingress
    dependencies:
    - puptoo
    - storage-broker
    optionalDependencies:
    - host-inventory
    - payload-tracker-go
    deployments:
    - name: service
      minReplicas: ${{MIN_REPLICAS}}
      webServices:
        public:
          enabled: true
          apiPath: ingress
      podSpec:
        image: ${IMAGE}:${IMAGE_TAG}
        livenessProbe:
          failureThreshold: 3
          httpGet:
            path: /
            port: 8000
            scheme: HTTP
          initialDelaySeconds: 35
          periodSeconds: 5
          successThreshold: 1
          timeoutSeconds: 120
        readinessProbe:
          failureThreshold: 3
          httpGet:
            path: /
            port: 8000
            scheme: HTTP
          initialDelaySeconds: 35
          periodSeconds: 5
          successThreshold: 1
          timeoutSeconds: 120
        env:
        - name: INGRESS_PAYLOADTRACKERURL
          value: ${INGRESS_PAYLOADTRACKERURL}
        - name: INGRESS_STAGEBUCKET
          value: ${INGRESS_STAGEBUCKET}
        - name: INGRESS_LOG_LEVEL
          value: ${LOG_LEVEL}
        - name: INGRESS_VALIDTOPICS
          value: ${INGRESS_VALIDTOPICS}
        - name: INGRESS_MAXSIZEMAP
          value: ${INGRESS_MAXSIZEMAP}
        - name: CLOWDER_ENABLED
          value: ${CLOWDER_ENABLED}
        - name: INGRESS_BLACK_LISTED_ORGIDS
          value: ${INGRESS_BLACK_LISTED_ORGIDS}
        resources:
          limits:
            cpu: ${CPU_LIMIT}
            memory: ${MEMORY_LIMIT}
          requests:
            cpu: ${CPU_REQUESTS}
            memory: ${MEMORY_REQUESTS}
        volumes:
        - emptyDir: {}
          name: tmpdir
        volumeMounts:
        - mountPath: /tmp
          name: tmpdir
    objectStore:
    - ${INGRESS_STAGEBUCKET}
    kafkaTopics:
    - replicas: 3
      partitions: 64
      topicName: platform.upload.advisor
    - replicas: 3
      partitions: 3
      topicName: platform.payload-status
    - replicas: 3
      partitions: 4
      topicName: platform.upload.compliance
    - replicas: 3
      partitions: 3
      topicName: platform.upload.hccm
    - replicas: 3
      partitions: 3
      topicName: platform.upload.qpc
    - replicas: 3
      partitions: 3
      topicName: platform.upload.rhv
    - replicas: 3
      partitions: 3
      topicName: platform.upload.tower
    - replicas: 3
      partitions: 3
      topicName: platform.upload.leapp-reporting
    - replicas: 3
      partitions: 3
      topicName: platform.upload.pinakes
    - replicas: 3
      partitions: 3
      topicName: platform.upload.buckit
    - replicas: 3
      partitions: 16
      topicName: platform.upload.xavier
    - replicas: 3
      partitions: 10
      topicName: platform.upload.mkt
    - replicas: 3
      partitions: 3
      topicName: platform.upload.catalog
    - replicas: 3
      partitions: 3
      topicName: platform.upload.playbook
    - replicas: 3
      partitions: 3
      topicName: platform.upload.resource-optimization
    - replicas: 3
      partitions: 64
      topicName: platform.upload.announce
    - replicas: 3
      partitions: 3
      topicName: platform.upload.malware-detection

parameters:
- name: INGRESS_STAGEBUCKET
  value: insights-upload-perma
- name: INGRESS_VALIDTOPICS
  value: advisor,compliance,hccm,qpc,rhv,tower,leapp-reporting,buckit,xavier,mkt,playbook,playbook-sat,resource-optimization,malware-detection,pinakes,assisted-installer,runtimes-java-general
- name: INGRESS_DEFAULTMAXSIZE
  value: '104857600'
- name: INGRESS_MAXSIZEMAP
  value: '{"qpc": "157286400"}'
- name: INGRESS_PAYLOADTRACKERURL
  value: 'payload-tracker'
- name: LOG_LEVEL
  value: INFO
- description: Cpu limit of service
  name: CPU_LIMIT
  value: 500m
- description: memory limit of service
  name: MEMORY_LIMIT
  value: 512Mi
- description: cpu request for service
  name: CPU_REQUESTS
  value: 200m
- description: memory request for service
  name: MEMORY_REQUESTS
  value: 256Mi
- name: MIN_REPLICAS
  value: '1'
- description: Image tag
  name: IMAGE_TAG
  required: true
- description: Image name
  name: IMAGE
  value: quay.io/cloudservices/insights-ingress
- description: Determines Clowder deployment
  name: CLOWDER_ENABLED
  value: "false"
- description: ClowdEnv Name
  name: ENV_NAME
  value: "insights-ingress"
  required: true
- name: INGRESS_BLACK_LISTED_ORGIDS
  value: ""
