---
apiVersion: v1
kind: Template
metadata:
  name: ingress
objects:
- apiVersion: cloud.redhat.com/v1alpha1
  kind: ClowdApp
  metadata:
    name: ingress
  spec:
    envName: ${ENV_NAME}
    deployments:
    - name: service
      minReplicas: ${{MIN_REPLICAS}}
      web: true
      podSpec:
        image: ${IMAGE}:${IMAGE_TAG}
        livenessProbe:
          failureThreshold: 3
          httpGet:
            path: /
            port: 8000
            scheme: HTTP
          initialDelaySeconds: 35
          periodSeconds: 5
          successThreshold: 1
          timeoutSeconds: 120
        readinessProbe:
          failureThreshold: 3
          httpGet:
            path: /
            port: 8000
            scheme: HTTP
          initialDelaySeconds: 35
          periodSeconds: 5
          successThreshold: 1
          timeoutSeconds: 120
        env:
        - name: INGRESS_STAGEBUCKET
          value: ${INGRESS_STAGEBUCKET}
        - name: INGRESS_LOG_LEVEL
          value: ${LOG_LEVEL}
        - name: INGRESS_VALIDTOPICS
          value: ${INGRESS_VALIDTOPICS}
        - name: INGRESS_INVENTORYURL
          value: ${INGRESS_INVENTORYURL}
        - name: CLOWDER_ENABLED
          value: ${CLOWDER_ENABLED}
        resources:
          limits:
            cpu: ${CPU_LIMIT}
            memory: ${MEMORY_LIMIT}
          requests:
            cpu: 200m
            memory: 256Mi
        volumes:
        - emptyDir: {}
          name: tmpdir
        volumeMounts:
        - mountPath: /tmp
          name: tmpdir
    objectStore:
    - ${INGRESS_STAGEBUCKET}
    kafkaTopics:
    - replicas: 3
      partitions: 64
      topicName: platform.upload.advisor
    - replicas: 3
      partitions: 3
      topicName: platform.payload-status
    - replicas: 3
      partitions: 4
      topicName: platform.upload.compliance
    - replicas: 3
      partitions: 3
      topicName: platform.upload.hccm
    - replicas: 3
      partitions: 3
      topicName: platform.upload.qpc
    - replicas: 3
      partitions: 3
      topicName: platform.upload.rhv
    - replicas: 3
      partitions: 3
      topicName: platform.upload.tower
    - replicas: 3
      partitions: 3
      topicName: platform.upload.leapp-reporting
    - replicas: 3
      partitions: 2
      topicName: platform.upload.topological-inventory
    - replicas: 3
      partitions: 3
      topicName: platform.upload.buckit
    - replicas: 3
      partitions: 16
      topicName: platform.upload.xavier
    - replicas: 3
      partitions: 10
      topicName: platform.upload.mkt
    - replicas: 3
      partitions: 3
      topicName: platform.upload.catalog
    - replicas: 3
      partitions: 3
      topicName: platform.upload.playbook

parameters:
- name: INGRESS_STAGEBUCKET
  value: insights-upload-perma
- name: INGRESS_VALIDTOPICS
  value: advisor,compliance,hccm,qpc,rhv,tower,leapp-reporting,topological-inventory,buckit,xavier,mkt,catalog,playbook
- name: INGRESS_INVENTORYURL
  value: http://insights-inventory:8080/api/inventory/v1/hosts
- name: INGRESS_MAXSIZE
  value: '104857600'
- name: LOG_LEVEL
  value: INFO
- description: Cpu limit of service
  name: CPU_LIMIT
  value: 500m
- description: memory limit of service
  name: MEMORY_LIMIT
  value: 512Mi
- name: MIN_REPLICAS
  value: '1'
- description: Image tag
  name: IMAGE_TAG
  required: true
- description: Image name
  name: IMAGE
  value: quay.io/cloudservices/insights-ingress
- description: Determines Clowder deployment
  name: CLOWDER_ENABLED
  value: "false"
- description: ClowdEnv Name
  name: ENV_NAME
  requred: false
